<!DOCTYPE html>
<html>
<head>
  <title>Sandbox017Griddler</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
<body>

<div id='main'>

  <%= render 'shared/nav' %>

  <section>
    <aside>Receiving email in your Rails app with <%= link_to 'Griddler', 'https://github.com/thoughtbot/griddler' %> and <%= link_to 'SendGrid', 'http://sendgrid.com/blog/receiving-email-in-your-rails-app-with-griddler/' %></aside>
    <article>
      "Griddler is a Rails engine that provides an endpoint for services that convert incoming emails to HTTP POST requests. It parses these POSTs and hands off a built email object to a class implemented by you."
    </article>
  </section>

  <section id='content'>
    <%= yield %>
  </section>

</div>

</body>
</html>
