<!DOCTYPE html>
<html>
<head>
  <title>Sandbox016Variants</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
<body>

<div id='main'>

  <%= render 'shared/nav' %>

  <section id="user-agent">
    <%= request.user_agent %>
  </section>

  <section>
    <aside>Demonstration: <%= link_to 'ActionPack Variants', 'http://guides.rubyonrails.org/4_1_release_notes.html#action-pack-variants' %></aside>
    <article>
      <b>Render different templates for phone and desktop.</b><br/>
      View this page on a phone see different layouts. This is an alternative to responsive css. With responsive css, the same html is downloaded on all devices and content is hidden or modified. Variants, instead, render different html. This could make it easier to author and maintain device-spedific view templates.
    </article>
  </section>

  <section id='content'>
    <%= yield %>
  </section>

</div>

</body>
</html>
